@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    height: 15vh;
    background-color: white;
    align-items: center;
    border-bottom: 3px solid crimson;
}

.header_container {
    display: flex;
    height: 100%;
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: space-between;
}

.titulo {
    align-self: center;
    justify-self: flex-start;
    color: crimson;
}

.login {
    height: 30px;
    width: 70px;
    align-self: center;
    cursor: pointer;
    background-color: crimson;
    border: none;
    color: white;
    border-radius: 10px;
}

.login:hover {
    height: 35px;
    width: 75px;
    transition: 0.2s;
}

main {
    height: 70vh;
    background-color: white;
}

.main_container {
    display: flex;
    width: auto;
    height: 70vh;
    align-items: center;
    justify-content: space-evenly;
}


.tarjeta {
    width: 600px;
    height: 350px;
    background-color: crimson;
    margin: 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight:bolder;
    color: black;
}

#tarjeta_alumno {
    background-image: url(alumno.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#tarjeta_profesor {
    background-image: url(profesor.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#tarjeta_admin {
    background-image: url(admin.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.tarjeta:hover {
    width: 1000px;
    transition: all 0.2s;
    font-size: 50px;
}

footer {
    height: 15vh;
    background-color: white;
    border-top: 3px solid crimson;
}

@media all and (max-width: 600px) {
    .main_container {
        flex-direction: column;
        transition: all 0.2s;
        margin-left: 15px;
        margin-right: 15px;
    }

    .tarjeta {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 300px;
    }

    .tarjeta:hover {
        height: 550px;
        width: 350px;
    }

    header {
        height: fit-content;
    }
    .header_container {
        flex-direction: column;
    }

    .logo {
        width: 200px;
        height: 100px;
        align-self: center;
    }

    .titulo {
        font-size: 20px;
    }

}
